@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



/*global -----------------------------------------------------------------------------------------------------*/


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


:root {
  --background: #424242;
  --background-elem: #fff;
  --background-tooltips: #666;
  --color-grey: #999;
  --color-gold: #CCB26E;
  --dark-text-color: #333;
}


html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}


body {
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 36px;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--dark-text-color);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  visibility: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

ul[class],
ol[class] {
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1870px;
  padding: 30px 15px;
  margin: 0 auto;
}

.section-wrap {
  margin-bottom: 50px;
}

.section-wrap:not(:last-child) {
  margin-right: 58px;

}

/*check----------------------------------------------*/
.check__wrap {
  max-width: max-content;
  max-height: max-content;
  border-radius: 10px;
  background-color: var(--background-elem) ;
  flex-direction: column;
  padding: 21px 30px 30px 29px;
}

.check__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.checkbox:not(:last-child) {
  margin-bottom: 20px;
}

.checkbox__input {
  display: none;
}

.checkbox__wrap {
  cursor: pointer;
}


.checkbox__text {
  position: relative;
  padding-left: 22px;
}

.checkbox__text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid var(--color-grey);
  border-radius: 3px;
  transition: border-color .3s ease-in-out;
}

.checkbox__text::after {
  content: url("../img/jackdaw.svg");
  position: absolute;
  left: 3px;
  top: -2px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.checkbox__input:checked + .checkbox__text::after {
  opacity: 1;
}

.checkbox__input:checked + .checkbox__text::before {
  border-color: var(--color-gold);
}

/*choice ------------------------------------------------------------------------------*/
.choices .choices__list.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}

.choices {
  width: 100%;
}

.choices .choices__inner{
  position: relative;
  z-index: 2;
  width: 176px;
  padding: 10px 15px;
  border-radius: 10px;
}

.choices.is-open .choices__inner {
  border: 1px solid var(--color-gold);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 10px;
}

.choices[data-type*=select-one]::after {
  border: none;
  margin-top: 0;
  background: transparent url("../img/select-arrow_gray.svg") no-repeat center center / contain;
  width: 8px;
  height: 8px;
  transform: translateY(-50%);
  z-index: 5;
  transition: background-image .1s ease-in-out;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: 0;
  background-image: url("../img/select-arrow_gold.svg");
  transition: background-image .1s ease-in-out;
}

.choices .choices__list--dropdown  {
  top: 20px;
  padding: 40px 0 20px 15px;
  z-index: 1;
  border-radius: 10px;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border: 1px solid var(--color-gold);
}

.choices__list.choices__list--single .choices__placeholder {
  opacity: 1;
}

.choices .choices__list .choices__item.is-selected {
  display: none;
}

/*map------------------------------*/
[class*="ground-pane"] {
  filter: grayscale(1);
}

/*scroll--------------------------------*/
.scrollbar {
  width: 399px;
  max-height: 310px;
  padding: 20px 30px;
  line-height: 24px;
  background-color: #fff;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.scrollbar .simplebar-scrollbar::before {
  background-color: var(--color-gold);
  border-radius: 5px;
}

.scrollbar .simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

/*form-------------------------------*/
.form {
  flex-direction: column;
  padding: 38px 30px 39px 30px;
  background-color: #000;
  border-radius: 10px;
}

.form__input {
  width: 380px;
  margin-bottom: 31px;
  padding: 24px 0 24px 20px;
  font-size: 16px;
  color: #999;
  background: #FFFFFF;
  /*border: 1px solid #FF5C00;*/
  border-radius: 10px;
  outline: 0;
}

.form__button {
  max-width: 192px;
  padding: 19px 53px;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  background: #FF5C00;
  border-radius: 10px;
}

.form-group__wrap {
  flex-direction: column-reverse;
}

.form-group__wrap .js-validate-error-label {
  padding-left: 20px;
}

/*tooltip ------------------------------------------------*/
.tooltip__wrap {
  flex-direction: column;
}

.tooltip__block {
  max-width: 375px;
  padding: 20px 78px 20px 20px;
  margin-bottom: 30px;
  background-color: #fff;
}

.tooltip__text {
  max-width: 268px;
}

.tooltip__icon {
  vertical-align: middle;
}

.tooltip__icon:hover path,
.tooltip__icon:focus-visible path {
  fill: var(--color-gold);
}

.tooltip__icon:focus-visible {
  outline: 0;
}



.tippy-box[data-theme~='custom'] {
  background-color: var(--background-tooltips);
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--background-tooltips);
}
